.pageWrapper {
  background-color: #fafafa;
  min-height: 100%;
  padding: 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;

  @media (max-width: 768px) {
    background-color: transparent;
  }
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  width: 100%;
}
